[2015-02-12 18:06] juanesarango opened #2 "May have a bug defining the helpers"
I think you may have a bug. I wasn't able to fix. I'm getting this error when trying to use ember-truth-helpers as an addon of ember-cli:

"uncaught type error: cannot read property '_registerhelper' of undefined"

Specifically here in the 24 line in the file register-helper.js:

function registerHelper(name, helperFunction) {
    if (Ember['default'].HTMLBars._registerHelper) {
        if (Ember[

[2015-02-12 20:29] jmurphyau commented on #2
"cannot read property '_registerhelper' of undefined"
or
"cannot read property '_registerHelper' of undefined"

That would suggest to me you don't have HTMLBars? What version of Ember are you using? Do you have 'Ember.HTMLBars' available to you on the page?

[2015-02-24 01:17] jmurphyau commented on #2
@juanesarango are you still seeing this issue?

[2015-02-24 03:23] juanesarango commented on #2
@jmurphyau sorry I didn't give a feedback before. But you may be right and my problem was with htmlbars. With that I got some other issues that took me some time to fix, but finally I could make it work.

Thank you for your fast response!

[2015-02-27 04:23] #2 closed

[2015-03-06 07:45] aranaravi opened #4 "Uncaught TypeError: Cannot read property '_registerHelper' of undefined"
in register-helper.js i am getting the Uncaught TypeError: Cannot read property '_registerHelper' of undefined why this happening i am using ember-cli version 0.1.12 and handlebars 2.0.0 is there any any exclusive package i need to install, apart from you addon.

[2015-03-06 09:35] jmurphyau commented on #4
It's for HTMLBars not Handlebars.. Looks like Ember.HTMLBars is not available to you which is why you get that error

[2015-03-07 04:32] aranaravi commented on #4
@jmurphyau ok thanks for the response, is there any possible way to do like this in handlebars with ember cli.

[2015-03-09 04:09] #4 closed

[2015-03-17 19:16] albertpak opened #5 "Ember version?"
is there a specific Ember version that this needs in order to work?

[2015-03-17 22:33] jmurphyau commented on #5
You need HTMLBars.. So version 1.10

[2015-03-20 23:25] jmurphyau commented on #5
@albertpak how did you go with this?

[2015-03-25 01:20] lai opened #6 "Use truth helpers in unit tests"
I run `ember test` to unit test my Ember CLI project and it seems truth helpers cannot be found. After search around, I added `helper:eq` to my unit test like this
[code]
Now I get
[code]
Is there a recommended way to register truth helpers for testing?

[2015-03-25 01:22] lai commented on #6
I also tried
[code]

[2015-03-25 01:25] jmurphyau commented on #6
You have to import each helper you want before your tests.. if you look here [here](https://github.com/jmurphyau/ember-truth-helpers/blob/master/tests/unit/helpers/equal-test.js#L10) you can see how I do it. I'm not sure how else to do it but if you find a better way do let me know (:

[2015-03-25 19:54] lai commented on #6
Registering each helper works but it's a lot of repetitive setup. This seems less than ideal.

[2015-03-25 21:37] lai commented on #6
Thanks for suggesting the solution. I'll close this now.

[2015-03-25 21:37] #6 closed

[2015-04-27 03:06] #5 closed

[2015-05-06 12:07] lolmaus opened #8 "Does not work: {{ some-component disabled=(not someModel.isDirty) }}"
So I'm trying to use ember-truth-helpers with this addon: [ember-cli-async-button](https://github.com/dockyard/ember-cli-async-button).

It is a simple component that has a `disabled` property bound to an attribute.

This works as expected:

[code]

Bot then I've got an Ember Data model. This also works fine:

[code]

Now, i'm putting `model.isDirty` into the `not` subexpression, and suddenly it's

[2015-05-06 12:33] jmurphyau commented on #8
I'll take a look..

I see you've got:

    Displays "false" or "true": {{ model.isDirty }}

Try also adding:

    Displays "false" or "true": {{ not model.isDirty }}

Make sure that displays what you expect.. It will narrow down the issue a bit more

[2015-05-06 12:50] lolmaus commented on #8
`{{ not model.isDirty }}` works as expected.

[2015-05-07 13:19] lolmaus commented on #8
I have experienced the same problem with an `if` subexpression, without `ember truth helpers`.

And I was unable to reproduce the problem with a blank component.

Looks like it's a problem of ember-cli-async-button.

[2015-05-07 13:19] #8 closed

[2015-05-07 13:33] lolmaus commented on #8
https://github.com/dockyard/ember-cli-async-button/issues/41

[2015-06-11 03:59] jmurphyau opened #9 "Update Ember CLI Version"

[2015-07-13 07:59] collegeimprovements opened #15 "Process of creating this addon."
How you created this `addon`? I want to create an addon similar to these for Url and other helpers.
It would be greate if you can guide me a little. I'm very new to `js` and `ember`.

[2015-07-31 16:33] rwjblue commented on #9
I believe this was resolved in https://github.com/jmurphyau/ember-truth-helpers/pull/16.

[2015-07-31 16:40] Glavin001 commented on #9
Who has merge access? Let's get #16 merged and then get ready for Ember-cli 1.13.6 (which is already out now).

[2015-07-31 16:45] rwjblue commented on #9
@jmurphyau has access (owner of the repo).

Ember CLI v1.13.6 has relatively few changes to the default blueprint (see [here](https://github.com/kellyselden/ember-addon-output/compare/v1.13.1...v1.13.6)), feel free to send a PR updating.

[2015-07-31 16:49] Glavin001 commented on #9
For some reason I thought #16 had not yet been merged. I was mistaken.

Thanks! I'll take a look. I am new to Ember-CLI and its addon structure so I'll see what I can do.

[2015-08-03 15:56] btecu commented on #15
https://gist.github.com/kristianmandrup/ae3174217f68a6a51ed5 should be helpful.
You can always just look at the source code too.

[2015-08-03 16:03] jmurphyau commented on #9
Yep - this was resolved by #16 (:

[2015-08-03 16:03] #9 closed

[2015-08-04 19:58] Kilowhisky opened #18 "Latest ember depreciations with helpers"
FYI latest version of ember yet again screwed with things.

https://github.com/emberjs/ember.js/releases/tag/v1.13.6

`DEPRECATION: Using Ember.HTMLBars._registerHelper is deprecated. Helpers (even dashless ones) are automatically resolved. [deprecation id: ember-htmlbars.register-helper]`

`DEPRECATION: Using `Ember.HTMLBars.makeBoundHelper` is deprecated. Please refactor to using `Ember.Helper`

[2015-08-04 20:14] rwjblue commented on #18
@Kilowhisky - Yep, we are on it.  PR swapping to `Ember.Helper` based helpers is in https://github.com/jmurphyau/ember-truth-helpers/pull/12, but there is a little bit of refactoring to do to fix the test suite here.  I'm hopefully going to get this done tonight, but not 100% sure...

[2015-08-09 23:57] jmurphyau commented on #18
@rwjblue PR #19 should help with the test refactor you mention - I assume this is the work you're talking about here?

[2015-08-10 00:19] rwjblue commented on #18
@jmurphyau - Yep. #12 will solve this (and #19 is required to allow #12 to pass the test suite).

[2015-08-10 02:29] jmurphyau commented on #18
@Kilowhisky check out version 1.1.0 - should resolve the deprecation warnings

[2015-08-10 16:06] mike-post commented on #18
Confirmed, 1.1.0 solves all the deprecation notices.  Thanks!

[2015-08-10 16:33] rwjblue commented on #18
Awesome, thanks for confirming!

[2015-08-13 19:06] fadeojo commented on #18
@rwjblue Ember 1.3.18 still complains `Using Ember.HTMLBars._registerHelper is deprecated. Helpers (even dashless ones) are automatically resolved`

[2015-08-13 19:09] fadeojo commented on #18
the deprecated code is found in `addon/utils/register-helper.js` line 16 and 26.

[2015-08-13 22:38] mike-post commented on #18
@fadeojo Did you upgrade ember-truth-helpers to 1.1.0?

[2015-08-14 01:07] rwjblue commented on #18
Ember Data 1.13.8 also had an issue when published, and accidentally contained deprecated register helper calls. Make sure you have 1.13.9 of Ember data.

[2015-08-14 02:13] fadeojo commented on #18
@mike-post @rwjblue Thanks. It was ember data with the issue. It's all fixed now.

[2015-08-24 16:03] Arkham commented on #18
Also make sure to have the latest version of ember-resolver (0.1.19) in your `bower.json`

[2015-09-24 02:48] elwayman02 commented on #18
@rwjblue @jmurphyau @Kilowhisky can this be closed?

[2015-09-24 03:25] rwjblue commented on #18
Ya, I believe so. Happy to reopen if needed.

[2015-09-24 03:25] #18 closed

[2015-09-25 06:03] swelther opened #22 "How to use in ember-cli app?"
Hi dudes,

most likely this is a very silly question, I apologize for it.

I try to use these awesome helpers in a ember-cli app, but I have "issues".

Added this into my bower.json

[code]

and run npm install. And now? Does ember-cli autoload the helper classes? Do I have to import something in my `Brocfile.js`? Or must I import the helpers somehow? Would be cool to have some short startup howto

[2015-09-25 06:29] trisrael commented on #22
Try `ember install ember-truth-helpers` - it should then be added to
package.json which is for node modules while bower.json loads bower
components
On Sep 24, 2015 11:03 PM, "Sebastian Welther" <notifications@github.com>
wrote:

[2015-09-25 06:36] swelther commented on #22
Arg that was it! Thank you very much! Sometimes it's too easy and one does not see the solution.

I close this as resolved, thx again :+1:

[2015-09-25 06:36] #22 closed

[2015-11-01 20:46] plimeyepea opened #24 "How to compare mulitple condition"
{{if ( or (not-eq a b) (not-eq a b) ) }}
This is the format I'm presuming that would work if I wanted to check two things within an or statement, but this breaks my build and left me with a blank page. Is there another format I can try?

[2015-11-01 20:48] Keeo commented on #24
Did you try ```{{if (or (not-eq a b) (not-eq a b))}}```?

[2015-11-01 20:49] plimeyepea commented on #24
That is exactly what I did, but it doesn't seem to like it very much.

[2015-11-01 21:04] Keeo commented on #24
Can you try ```{{if (or (not-eq true true) (not-eq false true)) 'hello'}}```? This has to work.

[2015-11-03 12:06] jmurphyau commented on #24
you could try `(not (eq a b) (eq c d))`?

[2015-11-03 12:40] rwjblue commented on #24
@plimeyepea - Can you express the logic in JS so that we can properly understand what you are trying to do?

[2015-11-05 15:55] plimeyepea commented on #24
I was trying to check to see if my currentRouteName is a certain route. So there's two routes I needed to check:
 ` {{#if (or (not-eq currentRouteName "index") (not-eq currentRouteName "signup")}}
    {{partial 'navigation'}}
  {{/if}}`

However, when I added in the second (not-eq ... "signup"), it breaks my application.

[2015-11-12 10:01] bekzod commented on #24
I think something like this will be useful (not sure about `not-any`)
[code]

[2015-11-12 10:28] bekzod commented on #24
and `not-any`
[code]

[2015-12-21 16:10] rrussell commented on #24
This feature will be really useful, some like that:
[code]
etc...

[2015-12-22 04:02] devinus opened #25 "All equality operators should use Ember.isEqual"
`===` doesn't check for Ember's built-in equality checking for objects, dates, etc.

[2015-12-22 04:04] rwjblue commented on #25
True, but === is much faster than isEqual.

I do agree that we should try to use isEqual though. I'm happy to review a PR for this, but I don't think I'll have much time to work on it for a while...

[2015-12-22 04:05] devinus opened #26 "A new `is-empty` helper should be added"
This should use the `Ember.isEmpty` function, and consider changing `truthConvert` to no longer be falsy for empty arrays. That's not how JS works, and truth helpers aren't block helpers. Consider encourage users to use `(is-empty value)` or `(not (is-empty value))` to check arrays. This change would require a semver major bump.

[2015-12-22 04:15] jmurphyau commented on #25
Yeah I've always had a thought of using isEqual - never as the main method though.. like maybe an option people can provide.

Thinking more a global option - you can have it on or off.. I would discourage an option being passed into the helper directly.. .. `{{if (eq a b useIsEqual=true)}}` or something would be painful to see in templates

[2015-12-22 04:37] devinus commented on #25
I usually try to go with the most newb-friendly option by default, so using `isEqual` I think should be default. Using `===` for micro-optimization should be opt-in, e.g. `(eq a b native=true)`

[2015-12-22 04:38] devinus commented on #25
I also think this change would require a semver major bump as well.

[2015-12-22 11:58] rwjblue commented on #26
I think adding is-empty seems fine, but I'm not convinced that truthConvert should be changed. Frankly, the idea that this isn't how JS works doesn't really hold much sway to me. HBS is not JS, and Ember fundamentally considers empty arrays as falsey in HBS.

[2015-12-28 03:51] adjohnson916 commented on #26
+1 @rwjblue What's the alternative right now for composing empty checks with the other truth helpers?

[2015-12-28 13:43] btecu commented on #26
@adjohnson916 If you know you always have an array object (even empty) `{{unless myArray.length}}` if not, you'll have to chain a check for the array `{{if (and myArray myArray.length)`

[2015-12-28 20:34] adjohnson916 commented on #26
@rwjblue @btecu I've answered my own question about how to handle this currently by adding new unit tests in #27.

[2015-12-28 20:52] devinus commented on #26
I want to pick this up and add it if somebody is not already working on it.

[2016-01-19 03:00] AndersDJohnson opened #29 "modulo helper"
Have you considered a modulo helper? Useful for even/odd on array indexes. I'd imagine something like `{{if (mod i 2 0)}}` representing `if (i % 2 === 0)`, and/or shorthand `{{if (mod i)}}` to return truthy `1` or `true` (for odd) and falsy `0` or `false` (for even). I could submit a PR if you might accept it.

[2016-02-05 20:42] drewclauson commented on #26
:+1: on the is-empty using Ember.isEmpty().  I would look into it myself, but haven't done anything with addons quite yet. :-)

[2016-02-13 12:18] ksnyde opened #31 "Cascade helper lookup for addon developers"
I'd like to package this addon with some of my addons in a way that consumers of my addon don't also need to install this dependency. Is this possible? I had thought that including it as a "dependency" rather than just a "devDependency" would be all that's needed but that appears not the be the case.

[2016-02-13 13:01] rwjblue commented on #31
That is correct. Having this be a dependency is all that is required.

If that doesn't work, something else is going on.

[2016-02-13 13:04] ksnyde commented on #31
Ok thanks Robert. I'll close this and take another look.

[2016-02-13 13:04] #31 closed

[2016-02-13 13:05] rwjblue commented on #31
Feel free to reopen with a demo of the problem if you do find an issue.

[2016-02-13 13:05] ksnyde commented on #31
Oh just to be sure, the same logic applies to an addon using addon, right? I'm assuming `npm`'s recursion take care of all this for me.

[2016-02-13 13:58] rwjblue commented on #31
Yep, every consumer would still need to follow the deps pattern...

[2016-02-25 15:44] jevanlingen commented on #24
@plimeyepea: You missed one parenthese at the end, that's why it broke your application!

One parenthese to close the not-e=> So in full:

[code]

[2016-03-08 20:17] haldiggs opened #33 "build failing"
is his helper still viable? the build is broken.

[2016-03-17 18:20] offirgolan opened #34 "Not working in Ember 2.4.2"
ember: 2.4.2
ember-cli: 2.4.2
ember-truth-helpers": ^1.2.0

[code]

![screen shot 2016-03-17 at 11 18 14 am](https://cloud.githubusercontent.com/assets/575938/13856393/2d51f472-ec32-11e5-99c6-32eb7cf0fa51.png)

[2016-03-17 19:09] rwjblue commented on #34
Should work. I can't think of a change in 2.x that would cause this. Can you create a reproduction?

[2016-03-17 21:41] offirgolan commented on #34
Hmmm this is quite strange. In the current source, there is the following rule:

[code]

But when I look at the source via chrome debugger that check doesnt exists

[code]

I've done a clear cache + hard reset, cleared npm cache, re-installed dependencies and still no luck.

[2016-03-17 21:54] rwjblue commented on #34
Can you provide a repro please. Also, tell me your chrome version (there is a recent super annoying and crazy big with helpers + chrome 49/50).

Also, does this repos test suite fail for you on 2.4?

[2016-03-17 21:58] offirgolan commented on #34
Repo is actually internal. Im getting the same error in Firefox as well :cry:
Chrome Version: 49.0.2623.87 (64-bit)

Ill run the tests and report back

[2016-03-17 23:20] offirgolan commented on #34
Just ran tests on Ember v2.4.2 and they all passed but still having the same issue on my end. These are my current dependencies

[code]

[2016-03-18 00:24] rwjblue commented on #34
What does:

    npm ls ember-truth-helpers

Show?

I suspect you have two versions of ember-truth-helpers at play, and the older one (from before the guard you mentioned above) is present and processed after the current one (which means the helper being used would be the incorrect one).

[2016-03-18 00:30] offirgolan commented on #34
Ah. Looks like some internal addon is dependent on v0.0.5 which might be
getting pulled in. Ill try to resolve it tomorrow and see if it fixes it.
Thanks Rob :D

Thanks,
Offir Golan

On Thu, Mar 17, 2016 at 5:24 PM, Robert Jackson <notifications@github.com>
wrote:

[2016-03-18 21:52] #34 closed

[2016-04-20 13:08] jskeate opened #37 "Special note about how `not` handles empty arrays"
Ran into the unexpected asymmetry between how `(not arr)` (in templates) and `!arr` (in JS) behave. I don't really have a problem with it (probably makes sense in a lot of cases), but I think there should be a special note somewhere (in the readme?)

Either that, or make `not` exactly the same as `!` and add a new helper like `empty` or something.

[2016-04-20 18:41] sales commented on #24
+1

[2016-04-22 21:06] skywalkerx86 commented on #33
I'm having the same problem. I installed ember-truth-helpers and getting build failed:

Error: Parse error on line 3:
...as |item|}}	{{#if eq(
-------------------------^

[2016-04-22 21:31] workmanw commented on #33
@skywalkerx86 I don't believe you can use truth helpers in that way. Because they're really subexpressions, I think the `eq` has to come after the paren. Example:

[code]

[2016-04-22 21:45] rwjblue commented on #33
Correct. Thanks @workmanw!

[2016-04-22 21:45] #33 closed

[2016-04-23 14:43] skywalkerx86 commented on #33
Oh wow, looked at it for so long and didn't see that, thanks
On Apr 22, 2016 5:45 PM, "Robert Jackson" <notifications@github.com> wrote:

[2016-05-23 12:16] kgish opened #38 "Ember 2.x"
Were you planning to upgrade to the newest ember version soon?

[2016-05-23 12:25] rwjblue commented on #38
You mean updating the addon infrastructure itself? The addon works properly with Ember 2.x already...

[2016-05-23 13:07] kgish commented on #38
Okay, seems to be working now for some weird reason. Sorry about the false alarm.

[2016-05-23 13:07] #38 closed

[2016-06-08 05:21] blogcraft opened #39 "eq evaluates always false"
I have this demo in Ember 2.4:

[code]

And I get this evaluation in screen:
4 - 1 false
4 - 3 false
4 - 4 false
4 - 5 false

Why is this happening?

The complete code (I'm working with components):
component.hbs:

[code]

component.js

[code]

[2016-06-08 13:53] rwjblue commented on #39
My general guess is that they are of different types, but we would really need a runnable demo to be sure.

[2016-07-04 19:31] jaredgalanis opened #40 "Calling model attributes are undefined params in eq"
So in a simple eq helper statement like this: ``` {{#if (eq requistion.status "Draft")}}``` Where requisition is my model, I ran a console.log for params[0] in the equal.js file in helpers folder and I'm getting undefined. I have other places in my view which reference ```{{requisition.status}}``` and it is not undefined and returns the expected value in those cases. I should mention that using a

[2016-07-04 19:56] jaredgalanis commented on #40
Closing because this was related to a spelling error on my part. This now works fine.

[2016-07-04 19:56] #40 closed

[2016-07-26 13:45] philmbst opened #41 "Getting started..."
Hey!

I'm fairly new to ember and I'm struggling to get this working.

I have ran `ember install ember-truth-helpers` which worked but when using any of the helpers I get `Handlebars error: Could not find property 'gt' on object` in the console?

[2016-07-26 14:50] workmanw commented on #41
I suspect something went wrong with the install or perhaps you're invoking it incorrectly. Would you mind posting your package.json and maybe a snippet of you using the `gt` helper in a template.

[2016-07-26 15:13] philmbst commented on #41
Cheers for the reply man!

*package.json*
[code]

*usage*
[code]

Cheers :)

[2016-07-26 15:33] rwjblue commented on #41
What Ember version are you using this with?

[2016-07-26 15:33] workmanw commented on #41
One thing that stands out to me is that in your `package.json` I seen a lot of gulp and very little Ember CLI. But you also stated that you ran `ember install ember-truth-helpers`.

Are you trying to use Gulp instead of Ember CLI? If so, that is definitely the problem here.  I've heard of people using Gulp, I've never used it so I can't really help. But if you're new to Ember I would really really

[2016-07-26 15:50] #41 closed

[2016-08-01 09:41] MichielDeMey commented on #39
I'm having the same issue.
I ultimately had to convert my integers to strings due to an API discrepancy.

Maybe we should introduce a non strict equality method? (`==`)

[2016-08-01 09:55] jmurphyau commented on #39
I've just added a test case (I'll push it soon so you can see) that demonstrates this works as expected.. Is `clientId` an integer in the first example? And if so, and if you are using Ember Data, then the ID in your models are being converted to strings automatically..

The following code
[code]
Produces the following output

[code]

[2016-08-19 22:41] typeoneerror commented on #39
Seeing this in our app w/2.4 as well. I'm not positive it isn't a Chrome thing. I've got this in there:

[code]

And the `<option>` does indeed select the correct item, but odd thing is: there's no "selected" property when I inspect the element in Chrome.

With just `<option value="{{get item optionValuePath}}">`, the select doesn't select that item at all, so it's working, it just doesn't seem to

[2016-08-19 22:43] typeoneerror commented on #39
[code]

Logs false, true, false, false (true for the selected item). So it appears that eq is working, but the selected prop is not 100% working or something.

[2016-08-19 22:46] typeoneerror commented on #39
Even hard-coding in `selected={{eq item.id "2"}}` selects the correct item but in the HTML, "selected=" attribute is not here. Will see if I can repro in a clean repo.

[2016-08-19 22:48] rwjblue commented on #39
You have discovered the difference between attributes and properties.  Welcome to my nightmare.

[2016-08-19 22:49] typeoneerror commented on #39
@rwjblue so this isn't really a truth-helpers issue then from the sound of it?

[2016-08-19 23:08] rwjblue commented on #39
@typeoneerror - Play around with http://jsbin.com/fidowu/edit?html,output.  You will see that the `selected` attribute (what you see in the "Elements" pane in the Chrome DevTools) never updates even if you change which option is selected.  This is (roughly) because the attribute is only used for initial render, and from then forward the property is used.

[2016-08-23 03:13] jeffrey008 commented on #29
Adding mod helper is a good idea, but I am wondering if we should put mod helper into ember-truth-helpers. To me, ember-truth-helpers should only return boolean instead of numbers.
If we can a addon called 'ember-math-helpers' then that would be great. After that we can use something like this : `{{if (eq (mod 10 2) 0)}}`

[2016-08-23 03:46] adjohnson916 commented on #29
@jeffrey008 Yes, this would broaden scope slightly. What about the simple case of `(mod i)` representing `mod(2)` returning just `true`/`1` or `false`/`0`? Or maybe call them `(even i)` and `(odd i)`? Still, I can see if you don't want in this module.

[2016-08-23 05:50] jeffrey008 commented on #29
Good idea. Here is my implementation of the helper `is-even`
[code]
Anyway this is just the first draft of the function, so feel free to modify it.
Also I am wondering if we need a `is-odd` helper, although we can use the result of is-even to know it is odd or not, there may be a case where the params is not integer.

[2016-09-02 15:15] krivaten commented on #39
As to what @MichielDeMey mentioned, how I've handled this in the past was by creating a custom clone of the `eq` helper called `aeq` (Poor naming, but it's short):

https://gist.github.com/krivaten/a7662fea8da50b42e5ff2311643103f3

[2016-09-05 14:12] collegeimprovements commented on #15
Thanks a lot :)

[2016-09-05 14:12] #15 closed

[2016-10-15 06:28] IAmJulianAcosta opened #45 "Not strict comparison?"
Today I tried to do this: `(not-eq currentRegion.id 1)`, but it failed, because id was `"1"`, not `1`. Would be nice if we have something like `non-strict-not-eq`.

I could create a PR if needed.

[2016-10-25 13:21] kitsunde opened #46 "npm package published with engine: "ember-cli-app-version""
Extremely unimportant detail, but it's not in `package.json` but it's on npm:

[code]

It also makes yarn 😞 :

[code]

[2016-10-26 16:44] btecu commented on #46
I'm also getting this warning.

[2016-10-31 16:45] leizhao4 commented on #46
Same here.

[2016-10-31 21:21] taras commented on #25
I came here to create an issue for `Ember.isEqual` support, but found this one instead. `isEqual` has been part of Ember APIs since 2.1.0. At this point, lack of support might be a bug rather than a breaking change.

I just added an issue to `ember-composable-helpers` that proposes support for `Ember.isEqual`. I would argue that `isEqual` should be default behaviour without a flag.

I'll submit a

[2016-11-01 02:30] jmurphyau commented on #46
Does anyone know what would cause this or how to fix it?

[2016-11-01 18:50] btecu commented on #46
@jmurphyau it has been already fixed in [this commit](https://github.com/jmurphyau/ember-truth-helpers/commit/c43ef8fc576a998fea5c039516df9080481dd21a#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L17).
You just need to release a new version.

[2016-11-22 14:34] #25 closed

[2017-01-09 22:42] jpadilla commented on #46
Confirmed v1.3.0 fixes this.

[2017-01-09 22:43] lolmaus commented on #46
:bow:

[2017-01-30 22:55] oligriffiths opened #49 "1.3.0"
Hi

I see that the last commit is `Released 1.3.0` but there's no tag. Can this be created please?

Thanks

[2017-02-02 22:48] dehuszar opened #50 "Can't import helper functions to use functions from Components or Controllers"
It would be really cool to be able to access these functions from my component logic rather than having to write new, redundant helpers.

Can the library be updated to export each of the helper functions so that I can import them like so:

`import { ltHelper } from 'ember-truth-helpers/helpers/lt';`

would allow me to access functions like `ltHelper` in my js code?

[2017-02-02 22:55] rwjblue commented on #50
It is already structured this way, the exact import that you pasted should work...

[2017-02-02 22:59] dehuszar commented on #50
It does not.

I get the following when trying to access ltHelper in my code:
[code]

[2017-02-02 23:02] dehuszar commented on #50
Putting `const ltHelper = require('ember-truth-helpers/helpers/lt').ltHelper;` in it's place _does_ work... technically.

[2017-02-02 23:51] rwjblue commented on #50
This is surprising to me.  Can you whip up a demo repo that I can clone and check?

[2017-02-03 15:40] dehuszar commented on #50
Sure!  https://github.com/dehuszar/importTest

Here's what I'm finding.  It turns out I can actually console out the function, but if I attempt to access the same var from a breakpoint, it gives me the message above.

[2017-04-27 00:55] #46 closed

[2017-06-12 16:41] ryanlitalien commented on #49
@oligriffiths Please check again, there is now a 1.3.0 tag

[2017-07-05 20:04] jrforrest opened #58 "`and` helper should short-circuit"
It seems like the `and` helper should short circuit, so using methods or computed props as the arguments does not cause the rightmost expressions to be evaluated if the left evaluates to false.  This behavior would be more consistent with how JS works.

This came up in our application due to evaluation of computed properties on one of our models causing unnecessary network fetches.  We hoped to pr

[2017-07-15 16:50] ghost opened #59 "I'm concerned about size. Is there a "tree-shaking" like option?"
I know other libraries (like https://github.com/DockYard/ember-composable-helpers#configuration) offers this.

Can we have something like that?

I need just some helpers and I care about size of my .js files.

[2017-07-17 11:34] ghost opened #60 "Performances using plugin like ember-truth-helpers instead of just the Ember default way"
If I use this plugin: `https://github.com/jmurphyau/ember-truth-helpers`

with many, let's say,

`{{#if (eq model.beautiful true) }}`

or

`{{#if (or (eq model.beautiful true) (eq model.crazy true) ) }}`

what is Ember creating in background? The same javascript works of computedProperties like these:

`isBeautiful: Ember.computed.equal('model.beautiful', true);` and so on?

If I have 30 computedP

[2017-08-02 21:03] Turbo87 commented on #60
it depends ™

[2017-08-02 21:05] Turbo87 commented on #59
there is no such thing built into the addon at this point and the addons isn't actually that larger either so I'm not sure if it would actually be worth the custom-built solution. feel free to come up with a pull requests that implements it though! :)

[2017-08-02 21:07] Turbo87 commented on #58
@jrforrest due to the way helpers work in Ember this is simply not possible. helpers are essentially just functions and any parameter that you pass into a function needs to be evaluated before being able to call the function, and the same is true for helper in Ember.

[2017-08-02 21:09] Turbo87 commented on #50
@dehuszar the helpers in this addons are actually *very* simple (e.g. https://github.com/jmurphyau/ember-truth-helpers/blob/master/addon/helpers/lt.js#L9). I'm not sure why you would want to import the `lt` helper to run `lt([a, b])` if you could just check `a < b` 🤔

[2017-08-02 21:10] Turbo87 commented on #29
please note that a `mod` helper is already a part of https://github.com/shipshapecode/ember-math-helpers so there is probably no need to recreate it here too

[2017-08-02 21:24] dehuszar commented on #50
Because there's value in not reusability and composability, and Ember helpers can be very useful in this way.  I get that lt([a, b]) is a short snippet, but by that logic, why have a helper at all?  Just create new comparison tools in all your controllers or components.  Voila!

I was just trying to do something, that I thought was doable and it wasn't working as expected.

[2017-08-02 21:28] Turbo87 commented on #50
because there is no `<` operator in Handlebars and helpers are primarily meant to be used in templates

[2017-08-02 22:00] #58 closed

[2017-08-02 22:00] rwjblue commented on #58
Thanks for explaining @Turbo87

[2017-08-02 23:28] #49 closed

[2017-08-03 00:11] jmurphyau commented on #24
I just added a test that demonstrates that this works

[2017-08-03 00:11] #24 closed

[2017-08-03 00:25] #29 closed

[2017-08-03 00:25] rwjblue commented on #29
Makes sense!

[2017-08-03 13:11] rwjblue opened #62 "Add NPM Owner?"
@jmurphyau - A while back you gave me access to help maintain this addon, but it looks like we forgot to add me to NPM.  Can you run the following:

[code]

Thanks!

[2017-08-03 18:37] dehuszar commented on #50
Primarily, but not exclusively.  If I have to recreate the exact functionality of what a helper is doing as a controller or component function, then the helper is no longer DRY, reusable code, but duplicative code.

In the Ember slack channel I asked if Ember allowed for loading helper functions into other modules.  @rwjblue answered that it should and recommended that I create a ticket here so we

[2017-08-04 01:03] jmurphyau commented on #62
Done!

[2017-08-04 01:03] #62 closed

[2017-09-29 16:35] jwlawrence opened #69 "Compatibility with Ember 2.15"
I just bumped ember-cli to 2.15.1 and am getting some test failures that I think are related to this addon. I'm using ember-truth-helpers@^1.3.0. I'm seeing failures like these:

"SYNTAX ERROR: #if requires a single argument"

The only thing that looks at all out of the ordinary is a line that resembles this:

`{{#if (and foo (eq bar baz))}}`

Can you verify if this is supported with the new versi

[2017-09-30 13:14] rwjblue commented on #69
Yep, should work fine with 2.15. Happy to try to help debug if you can give us a reproduction case.

[2017-10-02 16:49] jwlawrence commented on #69
Thanks @rwjblue I realized after I filed this that the travis build was passing on release, sorry about that. Wish I could give you a reproduction case, but ruling truth helpers out, it's likely an issue in one of our other 2400 tests that is causing a cascade of errors to pop up :) Thanks for responding.

[2017-10-02 16:49] #69 closed

[2017-10-05 04:51] Techn1x opened #70 "Lazy evaluation"
So if I use the `and` helper like so;
[code]
It will evaluate both `firstExpression ` and `secondExpression` even if `firstExpression` is false.

Is there a way to get it to evaluate just the `firstExpression ` and stop there when it fails? The reason I ask is because 99% of the time my `secondExpression` is not necessary, and is quite taxing, so I only want to evaluate it when necessary.

I am tr

[2017-10-05 11:14] rwjblue commented on #70
Sadly, no. This is a limitation of glimmer-vm’s helper implementation at the moment. Definitely something that would be nice to fix,  it as with most things “it’s complicated”.

[2017-10-05 11:58] Techn1x commented on #70
Thanks for the response :) guess I'll have to see if I can re-write some of my helpers into a computed property

[2017-10-05 12:22] rwjblue commented on #70
Sorry. Closing for now.

[2017-10-05 12:22] #70 closed

[2017-10-05 22:32] Techn1x commented on #70
I guess in theory this would be an alternative approach to achieve lazy evaluation;
[code]

[2017-10-06 01:44] rwjblue commented on #70
Sure, but definitely is annoying :D

[2017-10-26 14:44] jevanlingen commented on #60
Your question has already been asked at [Ember.js Discussion Forum](https://discuss.emberjs.com/t/ember-truth-helper-vs-computed-property/9041) two years ago.

According to @rwjblue, it does not matter much:

Of course, Ember has changed a lot internally, so maybe this info is a little bit old dated.

[2017-10-26 15:42] rwjblue commented on #60
Nope, same answer seems good to me still. 😄

[2017-12-06 21:25] jasonworden opened #74 "Return false (instead of param) for better performance in `and` helper"
It seems this may be more performant if we just return `false` at this juncture. Is there any benefit to returning the actual `params[i]`? If the `param` is returned, wouldn't it then get coerced into a `boolean` down the line, adding extra work?

https://github.com/jmurphyau/ember-truth-helpers/blob/50da5d1c8e44ccd9ac2d51408dd36e2ffc3d4eba/addon/helpers/and.js#L7

[2017-12-06 21:39] jasonworden commented on #74
This is not an actual issue. Instead, I opened a PR for this: https://github.com/jmurphyau/ember-truth-helpers/pull/75

[2017-12-06 21:39] #74 closed

[2017-12-06 22:12] jasonworden commented on #74
Oops, I'll need to update the tests accordingly

[2017-12-30 01:15] erichonkanen opened #76 "Add bool helper"
In a form I have an attribute that relies on the existence of a property:

` readonly=(if card true)`

would it make sense to have a short-cut in this lib such as `readonly=(bool card)`?

[2018-01-11 19:54] lukemelia opened #77 "Missing CHANGELOG / release notes"
I was wondering if 2.0.0 has breaking changes, and if so, what they are.

[2018-01-11 20:21] rwjblue commented on #77
These were the biggies:

* Drop support for Node < 4
* Drop support for Ember 1.13

[2018-01-11 20:23] lukemelia commented on #77
Thanks!

[2018-02-22 23:19] gabrielgrant opened #79 "Add is-none helper"
...that proxies the Ember function of the same name (it's useful to distinguish between null/undefined values and empty strings)

I'm using this in a project; hopefully find time to pull it out, add the needed tests and docs, and submit a PR soon

[2018-04-12 22:48] cmackenz commented on #26
It would be nice if this also checked for empty objects `{}`

`Ember.isEmpty` returns `false` when checking `{}` so I had to create a helper that checked the length of my `object`'s key length. eg., `Object.keys(myObject).length === 0` returns `true`.

[2018-05-09 02:28] Techn1x opened #82 "is-in helper"
I have my own helper called `is-in` (and inversely, `not-in`)
[code]

Is this worth adding to ember-truth-helpers? I will make a PR for it, but only if it's worth adding (I don't want to make a PR that just sits unmerged)

If so, I'll probably change it to something like this, so that it's always clear what item is the main element
`{{#if (is-in item=messageType 'ignition_on' 'ignition_off' 'idlin

[2018-05-16 08:16] #26 closed

[2018-05-16 08:27] #77 closed

[2018-05-16 08:28] jmurphyau commented on #76
I like this idea

Feel free to open a PR

[2018-05-16 08:28] #76 closed

[2018-05-16 08:31] jmurphyau commented on #45
I'm open to this. You would need one for eq and one for not-eq

Maybe `w-eq` and `w-not-eq` w for "weak"?

[2018-05-16 20:01] erichonkanen commented on #76
@jmurphyau https://github.com/jmurphyau/ember-truth-helpers/pull/83

[2018-06-14 17:06] snewcomer opened #84 "New release - 2.1.0?"
Last release was Oct 2017.  Possible to get a minor release?  Thanks!

[2018-06-21 02:12] BrianSipple commented on #84
To add to that, I think it's slightly confusing to have `is-empty` documented in the README when it's not yet available in the latest release.

I'd happily open up an MR to clarify that -- but I wouldn't want to get in the way if just cutting a new release would be easier 😄.

[2018-07-06 14:47] sivakumar-kailasam commented on #84
Spent a few mins before i realised that this was missing in the latest available release 😅 Can we help the next person by publishing a release 😄?

[2018-07-14 08:32] fran-worley commented on #82
Would this not be covered by https://github.com/DockYard/ember-composable-helpers#contains ?

[2018-07-15 02:38] Techn1x commented on #82
Yeah, you're right. I guess at the time I wasn't using composable helpers add-on or I didn't know about the array helper! And I figured is-in was probably more suited here.

For anyone coming across this issue later, just install that add-on and do this

[code]

[2018-07-15 02:38] #82 closed

[2018-07-15 23:41] JonForest opened #85 "Does not handle aysnc conditions"
We recently had a scenario where we were using the `and` helper like this:
[code]
The `is-permitted` helper returned a `DS.PromiseObject`, which is handled correctly by the `if` component.
The `and` helper evaluates this code with the DS.PromiseObject
[code]
The `truthConvert(<DS.PromiseObject>)` === false, so the condition passes and returns the Promise object to the `if` component.  When the pro

[2018-07-15 23:41] JonForest commented on #85
If you are interested, the code for the async `and` helper is below:
[code]
It's a bit crude, and might not actually work, but I think it gets the idea across.

[2018-07-16 13:44] rwjblue commented on #85
FWIW, I think you can do something a bit simpler in the helper:

[code]

[2018-07-23 18:04] stuartskelton commented on #84
haha I just fell victim to this as well.

I had to make my own, it would be nice to have this released.

[2018-07-24 17:34] tinyweasel commented on #24
{{#if (and (or trueProperty falseProperty) (not falseProperty)}} does not work correctly. Should come out true but it's false.

[2018-08-09 14:26] NindroidX commented on #84
Had the same problem.. A new release would be great!

[2018-08-20 03:03] jmurphyau commented on #84
will do this today

[2018-08-20 03:27] jmurphyau commented on #84
Done

[2018-08-20 03:27] #84 closed

[2018-08-20 22:34] mehulkar opened #86 "Array.includes helper?"
It would be super useful to have a `{{includes array item}}` helper that simply does `Array.prototype.includes`. Would you consider adding this?

[2018-08-23 14:40] Oreoz commented on #86
@mehulkar Just so you know, `ember-composable-helpers` has this helper. https://github.com/DockYard/ember-composable-helpers#contains

That doesn't mean it's not appropriate for `ember-truth-helpers`, I'll let the devs decide for themselves. :)

[2018-08-24 06:01] mehulkar commented on #86
Oh nice that’s great, thank you!

On Thu, Aug 23, 2018 at 7:40 AM Jean-Philippe Roy <notifications@github.com>
wrote:

--

------
Mehul Kar
@mehulkar

[2019-07-09 19:11] meganre opened #93 "is-array helper is returning false when array only has one object inside it."
The is-array truth help in templates is returning false when the array only has a length of one. However running the same array through isArray from `@ember/array` in the controller returns true.

[2019-09-20 16:43] rwwagner90 commented on #79
I could also use this. @jmurphyau I would be glad to open a PR if you would like

[2020-01-28 19:17] al3xnag opened #108 "Helper "not" has wrong value when passing PromiseProxy"
This bug actually related to all truthConvert-helpers.
Initially, I reproduced this bug with an ember-data model (async belongsTo relationship), but it can be reproduced on any Ember.ProxyMixin based object.

What's going on here:
1. I have an ember-data model in loading state (`isPending == true`)
2. `{{not model}}` returns `true` (offtopic: isn't that weird already? model != null, so I expect fa

[2020-02-04 13:39] makepanic opened #109 "not-eq has unknown reexport"
Hi,
I noticed the following due to a warning from embroider.

`app/not-eq` tries to reexport [`notEq` from `addon/not-equal`](https://github.com/jmurphyau/ember-truth-helpers/blob/master/app/helpers/not-eq.js#L1).
`addon/not-equal` only exports [`notEqualHelper`](https://github.com/jmurphyau/ember-truth-helpers/blob/master/addon/helpers/not-equal.js#L3).

This means that there's an export happenin

[2020-03-28 13:53] mum-never-proud commented on #86
whooops! looks like there's some problem with Travis

[2020-03-29 01:46] mum-never-proud commented on #93
are you sure you are not including non-array items in check?

`{{if (is-array sectionTwoMenu)}}` should work fine

[2020-04-06 11:22] mariaejejej opened #112 "Helper is-empty returns false when passing undefined"
I have `{{#if (is-empty f.model.segment)}}`, `f.model.segment `is undefined and the if returns false

[2020-04-07 07:11] #112 closed

[2020-07-13 19:19] mehulkar opened #116 "Update to ember-cli-babel@7"
I include ember-truth-helpers as part of my own addon (let's say `ember-foo-bar`) in `dependencies`. When I install `ember-foo-bar` in an app that has `config/targets.js` set to add include `Safari 13`, `ember serve` breaks.

I believe this is happening because ember-cli-babel from here is being used as a preprocess because it's in dependencies of `ember-foo-bar`, and that preprocessor has an outd

[2020-07-14 13:53] rwjblue commented on #116
How does `ember serve` break? Does it throw an error (if so, can you share the stack trace)?

[2020-07-16 17:43] #50 closed

[2020-10-01 00:17] JamesS-M commented on #93
Is this still an issue? I wasn't able to reproduce it: https://ember-twiddle.com/0b7738432e40b1b0a6ef0121575b4554?openFiles=controllers.application%5C.js%2C

[2020-10-09 18:45] SergeAstapov commented on #116
@mehulkar a new version v3.0 of this addon was pushed today, looks like this should be resolved?

[2020-10-12 18:11] #116 closed

[2022-01-04 09:26] boris-petrov opened #141 "`or` doesn't work the same way as `||` in JavaScript"
[code]

Will return `1`.

[code]

Will return `[]`.

That's because of [this](https://github.com/jmurphyau/ember-truth-helpers/blob/v3.0.0/addon/utils/truth-convert.js#L9) line. I believe this is confusing to users. It was for me at least. Of course, doing it the other way will be a horrible breaking change so a major version is the least you could do if you decide to change it.

[2022-01-18 07:17] boris-petrov opened #143 "Update `README` to note that `or`, `and` and `xor` **do** short-circuit"
[code]

This, as of Ember 3.28, shows `true`. `{{or false (throw "asd")}}` throws an exception. So the [section](https://github.com/jmurphyau/ember-truth-helpers#usage) in the README which says that they do not short-circuit should be updated. It was true before, I remember, but it is no longer so.

[2022-04-27 07:09] markusm7 opened #146 "Short-circuit Poblem With `SafeString` Using `or` (And Maybe Other Helper)"
In our app we used the `or`-helper in a template condition with two parameters, the first a `SafeString` (created with `htmlSafe`) and the other a `tracked` local property.

[code]

The problem we faced is that since the `@safeString` is always an object (even if its an empty string) the `or` evaluates to true for it, but the `ìf` handles an empty safe string object properly and doesnt evaluate to

[2022-05-24 20:57] NEWeber opened #148 "Ember Global Deprecation Warning"
There's a deprecation warning suggesting that ember-truth-helpers is dependent on an outdated version of ember-cli-babel.

[code]

It looks like this can be fixed by updating `ember-cli-babel` to at least 7.26.6

[2022-05-28 14:34] emattias opened #150 "`or` cant be used when or condition value can be `false`"
When I want to use a provided `@arg` whos value can be `false` and I want to default to true the `or` helper doesnt work as I need. See this example:

[code]
If `@argThatCanBeFalse` is sent in as `false` `@bar` will be resolved to true.

This is because `or` uses the `truthConvert` util that does a regular double not operator (`!!`): https://github.com/jmurphyau/ember-truth-helpers/blob/master/add

[2022-06-10 21:09] tehhowch commented on #150
Count me as "Definitely against changing the semantics of `{{or}}`" The behavior you describe is 100% what I expect to happen, given that `{{or}}` is for truth testing and not picking a value to use.

I would suggest implementing your own "nullish coalesing" template helper. Possible names:
 - arg-or
 - or-default

[2022-08-04 11:06] locks opened #156 "Project maintenance"
Hi! I'm reaching out from simplabs as we're interested in taking over maintenance of this addon.

[2022-08-09 08:33] ctjhoa commented on #156
@SergeAstapov do you have permisison to add maintainers?

[2022-09-20 02:54] SergeAstapov commented on #156
@ctjhoa no I don't have such permissions. on a side note, hope get to some OSS real soon and help with such addons

[2022-09-20 02:56] SergeAstapov commented on #156
for history context: #147 converted this addon to Embroider native aka V2 format, need to check if there is anything missing for v4 of this addon to be pushed to npm

[2022-10-11 19:50] sukima commented on #141
I much prefer the behavior it is using now. It aligns with how Ember templates treat empty arrays. Changing it will make it behavior different then how Ember handles empty arrays.

[code]

[2022-10-11 19:55] sukima commented on #150
Two workarounds:

## Out of the box

[code]

## Custom nullish helper

[code]

[2022-10-12 05:37] boris-petrov commented on #141
Well, I guess that's a matter of taste. I personally would prefer to have the same behavior in JS and in HBS for similar things - so `if ([]) ...` to behave the same as `{{if (array) ...}}`. `each` is a bit different as it doesn't have a direct equivalent in JS (I mean the `else` part of course) - so I agree that the current behavior is OK. But for the `if` examples I think that's confusing to peo

[2022-10-12 06:18] boris-petrov commented on #141
So after a [nice discussion](https://discord.com/channels/480462759797063690/485447409296736276/1029629238736846900) I'll close the issue as `ember-truth-helpers` does the correct thing according to the [RFC](https://github.com/emberjs/rfcs/blob/1734f778b0babe4d112be81a3aaf6117975cd3b1/text/0562-add-logical-operators.md#handlebars-definition-of-truthiness) (even though the RFC says that `ember-tru

[2022-10-12 06:18] #141 closed

[2022-11-10 13:55] bakerac4 opened #163 "Typescript conversion"
Would the owners/mantainers of this repo accept a PR to convert this to typescript? I'd like to be able to have the types from this repo and remove them from `@gavant/glint-template-types`. We use this in every project so it would benefit us greatly (and I believe the wider community?)

But I don't want to start without getting acknowledgment so I know it would eventually be accepted.

@jmurphyau

[2022-11-10 19:47] nlfurniss commented on #163
I image maintainers would be happy to review PRs. My suggestion would be to break it down into multiple PRs instead of one massive one doing the conversion. This makes it much easier and faster to review.